# =====================
# Flutter / Dart
# =====================
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
/build/
coverage/

# =====================
# Android
# =====================
android/.gradle/
android/build/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
*.apk
*.aab
*.keystore
*.jks

# =====================
# iOS
# =====================
ios/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# =====================
# macOS / Linux / Windows
# =====================
.DS_Store
*.log
*.class
*.swp

# =====================
# IDEs
# =====================
.idea/
*.iml
*.ipr
*.iws
.vscode/

# =====================
# Misc
# =====================
.history/
.svn/
.swiftpm/
